*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    font-family: Avantgarde, sans-serif;
}

a{
    color: #7c7c7c;
    font-weight: bold;
    text-decoration: none;
}
p{
    margin: 10px 0;
}
.msg{
    border: 2px solid #ffa;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.logout{
    text-align: center;
    color: aqua;
}
.add{
    border: center;
    margin-left: 40px;

}
form {
    display: flex;
    flex-direction: column;
    width: 400px;
}
input {
     margin: 10px 0;
     padding: 10px;
     border: unset;
     border-bottom: 2px solid #e3e3e3;
     outline: none;
}
button {
    padding: 10px;
    background: #e3e3e3;
    border: unset;
    cursor: pointer;
}